<%= form_with model: @post, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "記事のタイトル" %><br />
    <%= f.text_field :title, id:"post_title" %>
  </div>

  <div class="field">
    <%= f.label :text, "記事内容" %><br />
    <%= f.text_area :text, class: :form__text, id:"post_text" %>
  </div>

  <div class="field">
    <%= f.label :image, "記事の画像" %><br />
    <%= f.file_field :image, id:"post_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>