<main class="main">
  <%= link_to image_tag("タイトル画面.png", class: :front), root_path %>
  <div class='title-contents'>
    <h2 class='service-title'>
      農家のための情報共有アプリ
    </h2>
    <p class='service-explain'>
      noyukaiは農業従事者の近況報告やチャット会話が可能な情報共有アプリです
    </p>
  </div>

  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting"> 
          <%= "こんにちは！、" %>
          <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: :greeting__link%>
      </div> 
    <% end %>
    <div class="card__wrapper">
       <%= render partial: 'post', collection: @posts %>
    </div>
  </div>

  <%= link_to("/posts/new", class: 'tweet-btn') do %>
    <span class='tweet-btn-text'>投稿する</span>
    <%= image_tag '24210.png' , size: '185x50' ,class: "tweet-btn-icon" %>
  <% end %>
</main>