<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="post__hedding">
        <%= "#{@post.title}"%>
      </p>
      <%= link_to "by #{@post.user.nickname}", "/users/#{@post.user.id}", class: :post__user %>

      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="post__manage">
          <%= link_to "編集する", edit_post_path(@post), class: :post__btn %>
          <%= link_to "削除する", post_path(@post), method: :delete, class: :post__btn %>
        </div>
      <% end %>
     
      <div class="post__image">
        <%= image_tag @post.image %>
      </div>
      <div class="post__body">
        <div class="post__detail">
          <p class="detail__title">記事のタイトル</p>
          <p class="detail__message">
            <%= @post.title %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>