<!DOCTYPE html>
<html>
  <head>
    <title>NoyukaiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "nouyoukai", root_path %>
          </div>
          <% #if user_signed_in? %>
             <div class="nav__right"> 
               <%= link_to "ログアウト", root_path, method: :delete, class: :nav__logout %>
               <%= link_to "投稿する", root_path, class: :nav__btn %>
             </div> 
          <% #else %>
            <div class="nav__right">
              <%= link_to "ログイン", root_path, class: :nav__btn %>
              <%= link_to "新規登録", root_path, class: :nav__btn %>
            </div>
          <% #end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © nouyoukai All rights reserved.</p>
    </footer>
  </body>
</html>
